@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes hideQa {
  0% {
    right: 0;
  }
  100% {
    right: 100%;
    content: "";
    display: none;
  }
}
@keyframes hideBSA {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes hideJS {
  0% {
    left: 0;
  }
  50% {
    content: "";
  }
  100% {
    left: 500px;
    content: "";
  }
}
@keyframes hideJava {
  0% {
    left: 0;
    bottom: 0;
  }
  33% {
    content: "";
    left: 33%;
    bottom: 33%;
  }
  66% {
    content: "";
    left: 66%;
    bottom: 66%;
  }
  100% {
    left: 100%;
    bottom: 100%;
    content: "";
  }
}
@keyframes hidePhp {
  0% {
    right: 0;
    top: 0;
  }
  33% {
    content: "";
    right: 33%;
    top: 33%;
  }
  66% {
    content: "";
    right: 66%;
    top: 66%;
  }
  100% {
    right: 100%;
    top: 100%;
    content: "";
  }
}
@keyframes hideNet {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
    opacity: 0.3;
    visibility: hidden;
    content: "";
  }
}
@keyframes hideContacts {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
    visibility: hidden;
    content: "";
  }
}
@keyframes hideElse {
  0% {
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(90deg) scale(0.6);
  }
  100% {
    transform: rotate(180deg) scale(0);
    visibility: hidden;
    content: "";
  }
}
