@mixin _title() {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
@mixin _modal-notification($color) {
  opacity: 0.85;
  margin: 1rem;
  background-color: $color;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  .left {
    flex-basis: 30%;
    padding: 0.4rem;
    align-content: center;
  }
  .right {
    flex-basis: 70%;
    padding: 0.4rem;
    h6,
    p {
      margin: 0;
    }
  }
}
html {
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color: #ffffff;
  --size: 5rem;
}
.header,
.main-block {
  margin: 0 6rem;
}
.header {
  background-color: var(--color);
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 2s;
  animation: show 2s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
  transform: translateY(-100%);
  z-index: 30;
  .logo {
    display: inline-block;
  }
  .header-menu-wrap {
    display: flex;
    align-items: center;
    width: 75px;
    flex-direction: row;
    position: relative;
    .notification {
      cursor: pointer;
      width: 1.5em;
      height: 1.5em;
      &:hover {
        color: rgb(255, 251, 0);
      }
    }
  }
}
.main-block {
  padding-top: 65px;
  height: calc(100vh - 35px);
  display: grid;
  grid-template-columns: repeat(12, minmax(20px, 1fr));
  grid-template-rows: repeat(8, minmax(50px, 1fr));
  .center {
    text-align: center;
    align-content: stretch;
  }
  .link {
    & a {
      text-decoration: none;
      color: rgb(19, 9, 78);
      &:hover {
        text-decoration: underline;
        color: rgb(4, 9, 41);
      }
    }
  }
  .bsa,
  .qa,
  .js,
  .java,
  .net,
  .php,
  .events,
  .blog,
  .contacts {
    position: relative;
    z-index: 1;
    & .content-article {
      overflow: auto;
      width: 100%;
      height: 100%;
      text-align: justify;
      padding: 10px;
    }
  }
  .bsa {
    grid-area: 1/1/5/4;
    display: flex;
    justify-content: center;
    &::after {
      @include _title;
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRGHteyKv0-kvSO3rbWh0fW3sa3GnV24ZdZAg&usqp=CAU");
      background-repeat: no-repeat;
      background-position: center;
    }
    &:hover:after {
      animation: hideBSA 1.2s 0.1s;
      animation-fill-mode: forwards;
    }
    .join {
      cursor: pointer;
      outline: none;
      border: 1px solid rgb(6, 173, 6);
      background-color: rgb(12, 233, 12);
      color: var(--color);
      border-radius: 8px;
      padding: 0.2rem 1.5rem;
      align-self: center;
      justify-items: center;
      &:hover {
        background-color: rgb(10, 180, 10);
      }
      &:active {
        background-color: rgb(7, 85, 7);
      }
    }
  }
  .qa {
    grid-area: 5/1/9/4;
    &::after {
      @include _title;
      content: "QA";
      justify-content: center;
      align-items: center;
      position: absolute;
      color: var(--color);
      font-size: var(--size);
      background-color: #11b41f;
    }
    &:hover:after {
      animation: hideQa 1s 0s;
      animation-fill-mode: forwards;
    }
  }
  .js {
    grid-area: 1/4/7/7;
    padding: 10px;
    &:after {
      @include _title;
      content: "JS";
      background-color: rgb(251, 211, 31);
      align-items: flex-end;
      justify-content: flex-end;
      font-size: var(--size);
      font-weight: 700;
    }
    &:hover:after {
      animation: hideJS 1s 0s;
      animation-fill-mode: forwards;
    }
  }
  .java {
    grid-area: 7/4/9/7;
    &::after {
      @include _title;
      content: "Java";
      background-color: rgb(251, 31, 31);
      color: var(--color);
      font-size: 3rem;
    }
    &:hover:after {
      animation: hideJava 0.5s 0s linear;
      animation-fill-mode: forwards;
    }
  }
  .php {
    grid-area: 1/7/4/13;
    &::after {
      @include _title;
      content: "php";
      background-color: rgb(70, 75, 144);
      font-size: var(--size);
      font-style: italic;
      font-size: 3rem;
    }
    &:hover:after {
      animation: hidePhp 0.5s 0.1s cubic-bezier(0, 0, 1, 1);
      animation-fill-mode: forwards;
    }
  }
  .net {
    grid-area: 4/7/9/11;
    &::after {
      @include _title;
      content: ".NET";
      background-color: rgb(153, 35, 189);
      font-size: var(--size);
      color: var(--color);
      font-style: italic;
      font-size: 3rem;
    }
    &:hover:after {
      animation: hideNet 0.7s 0.1s linear;
      animation-fill-mode: forwards;
    }
  }
  .events {
    grid-area: 4/11/6/13;
    &::after {
      @include _title;
      content: "Events";
      background-color: rgb(82, 169, 250);
      color: var(--color);
    }
    &:hover:after {
      animation: hideElse 0.7s 0.1s linear;
      animation-fill-mode: forwards;
    }
  }
  .blog {
    grid-area: 6/11/8/13;
    .flex-article {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      overflow: auto;
      & img {
        width: 100%;
      }
      p {
        text-align: justify;
        padding: 0 5px;
        font-size: 0.6rem;
      }
    }
    &::after {
      @include _title;
      content: "Blog";
      background-color: rgb(26, 106, 180);
      color: var(--color);
    }
    &:hover:after {
      animation: hideElse 0.7s 0.1s linear;
      animation-fill-mode: forwards;
    }
  }
  .contacts {
    grid-area: 8/11/9/13;
    &::after {
      @include _title;
      content: "Contacts";
      background-color: rgb(2, 19, 77);
      color: var(--color);
    }
    &:hover:after {
      animation: hideContacts 0.7s 0.1s linear;
      animation-fill-mode: forwards;
    }
    .social {
      display: flex;
      flex-direction: row;
      .icon {
        cursor: pointer;
        padding: 10px;
        width: 4rem;
        height: 4rem;
      }
    }
  }
}
.modal-wrapper {
  position: fixed;
  z-index: 20;
  bottom: 0;
  right: 0;
  width: 200px;
  & .error {
    @include _modal-notification(red);
  }
  & .success {
    @include _modal-notification(rgb(11, 195, 11));
  }
}
.footer {
  text-align: center;
  height: 35px;
}
