@media all and (max-width: 996px) {
  .header,
  .main-block {
    margin: 0 2rem;
  }
  .main-block {
    grid-template-rows: repeat(9, 1fr);
    .bsa {
      grid-area: 1/1/6/5;
    }
    .js {
      grid-area: 1/5/6/10;
    }
    .java {
      grid-area: 6/1/8/7;
    }
    .qa {
      grid-area: 8/1/10/7;
    }
    .php {
      grid-area: 6/7/8/13;
    }
    .net {
      grid-area: 8/7/10/13;
    }
    .events {
      grid-area: 1/10/3/13;
    }
    .blog {
      grid-area: 3/10/5/13;
    }
    .contacts {
      grid-area: 5/10/6/13;
    }
  }
}
@media all and (max-width: 669px) {
  .header,
  .main-block {
    margin: 0 1rem;
  }
  .main-block {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 200px);
    grid-template-areas:
      "bsa net"
      "qa java"
      "contacts php"
      "events blog"
      "js js";
    .bsa {
      grid-area: bsa;
      background-size: cover;
    }
    .js {
      grid-area: js;
    }
    .qa {
      grid-area: qa;
    }
    .net {
      grid-area: net;
    }
    .java {
      grid-area: java;
    }
    .php {
      grid-area: php;
    }
    .events {
      grid-area: events;
    }
    .blog {
      grid-area: blog;
    }
    .contacts {
      grid-area: contacts;
    }
  }
  .footer {
    display: block;
  }
}
